.Card-container {
  background-color: rgb(223, 237, 248);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.Card {
  width: 25rem;
  border-radius: 20px;
  background-color: rgb(241, 241, 241);
  display: inline-block;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
}

img {
  border-radius: 50%;
}

input {
  width: 90%;
  padding: 0.6rem 0.6rem;
  margin-bottom: 1rem;
  border-radius: 20px;
  border: transparent;
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.1);
}

input:focus {
  outline: none;
  border-bottom: 3px solid green;
}

.btn {
  padding: 1rem;
  border-radius: 20px;
  border: none;
  background-color: rgb(131, 0, 0);
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-transform: uppercase;
  transition: 200ms;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(167, 1, 1);
}

.btn-2 {
  position: absolute;
  transform: translate(-50%, 50%);
  left: 50%;
  top: 0;
}
